@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@font-face {
    font-family: 'Quicksand';
    src: url(/fonts/Quicksand-VariableFont_wght.ttf) format('truetype');
}

:root {
    --bg-color: #1c1c1c;
    --color: #fff3e6;
}

body {
    margin: 0px;
    padding: 0px;

    font-family: 'Quicksand';
    color: var(--color);

    background-color: #6a6a6a;
    background-image: url(/kikuri/Gp5R4kOb0AAGvL5.jpg);
    background-position: center 0%;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}