.bg-section .bg-span {
    position: relative;
    display: block;
    width: 20px;
    /* calc(6.25vw - 2px) */
    height: 20px;
    /* calc(6.25vw - 2px) */
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    transition: 1.5s;
}

.bg-section .bg-span {
    z-index: 2;
}

.bg-section .bg-span:hover {
    background: #71426c !important;
    transition: 0s;
}